*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 3072px;
    min-height: 100vh;
    background-color: #fefbe48a;
}

.webpage-container{
    height: 3072px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.introduction-container{
    display: flex;
    flex: 1; 
    justify-content: center;
    /* border: 1px solid black; */
    margin-bottom: 90px;
}

.image-container{
    /* border: 1px solid black; */
    width: 755px;
    height: 779px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #BC6C25;
    /* background-color: #D4A373; */
}

.image-container .name-job{
    justify-content: flex-start;
     height: 16px;
     position: absolute;
     top: 24px;
     left: 50px;
     font-size: 16px;
}

.my-photo-container{
    display: flex;
    width: 450;
    justify-content: center;
    align-items: center;
}
.my-photo{
    width: 300;
    height: auto;
    border-radius: 20px;
    box-shadow: 16px 24px rgba(0, 0, 0, 0.25);
    /* margin-top: 182px; */
    margin-right: 60px;
    margin-bottom: 20px;
}

.information-container{
    /* border: 1px solid red; */
    width: 755px;
    height: 779px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefbe48a;
}

.home-container{
    display: flex;
    width: 620px;
    justify-content: flex-end;
}

.home{
    margin-right: 45px;
    margin-top: 30px;
    font-size: 16px;
    padding-left: 40px;
}

.school-information-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 364px; 
    /* border: 1px solid black; */
    margin-top: 100px;
}

.name-info{
    height: 105px;
    margin-bottom: 20px;
}
.school-details{
    height: 70px;
    background-color: #368F8B;
}

/* .name-font,.name{
    font-family: "DM Serif Text", sans-serif, serif, Arial, Helvetica;  
} */

.name-font{
    font-size: 46px;
    margin-bottom: 8px;
}

.name{
    font-size: 42px;
    /* border: 1px solid black; */
    /* background-color: #368F8B; */
}

.school, .major{
    font-size: 18px;
}

.school{
    margin-bottom: 15px;
}

/* .info{
    border: 1px solid black;
} */
.btn-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 36px;
    margin-top: 80px;
    /* background-color: white; */
}
.resume{
    margin-top: 5px;
}

.resume,.projects{
   margin-bottom: 50px; 
}

.work{
    margin-bottom: 40px;
}
.btn-design{
    height: 47px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    border-width: thin;
    background-color: #BC6C25;
}

a.btn-design{
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: none;
    align-content: center;
}
.socials{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 400px;
    height: 24px;
    margin-left: 36px;
    padding-left: 20px;
}

.a{
    margin-right: 0px;
    width: 24px;
    margin-right: -10px;
}

.icons{
    height: auto;
    width: 24px;
    margin-right: 20px;
}


.projects-container{
    display: flex;
    flex: 1; 
    justify-content: space-between;
    /* height: 779px; */
    /* border: 1px solid black; */
    /* margin-bottom: 118px; */
    margin-bottom: 245px;
    flex-direction: column;
}

.contacts-container{
    display: flex;
    flex-basis: 100vw;
    flex: 1; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
    min-height: 779px;
}


.title-container{
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    /* width: 450px; */

}

#projects-title{
    font-size: 58px;
    width: 425px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 60px;
    background-color: #368F8B;
}

.project-image{
    width: 350px;
    height: 400px;
    /* height: auto; */
    border: 2px solid #BC6C25;
}

.project-cards-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    min-height: 600px;
    /* flex-direction: column; */
}

.project-cards{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vw;
    justify-content: center;
    gap: 100px;
    padding: 5px;
}

.project-card{
    display: flex;
    flex-direction: column;
    /* width: 350px; */
    flex-basis: 350px;
    margin-bottom: 15px;
    /* margin-right: 5px; */
}

.project-description-container{
    padding: 5px;
    width: 350px;
    height: 125px;
    display: flex;
    flex-direction: column;
    background-color: #BC6C25;
    /* #368F8B */
}

.project-title-container{
    display:flex;
    justify-content: center;
    border: 1px solid black;
}

.project-title{
    text-align: center;
    height: 30px;
    width: 335px;
    font-size: 20px;
}
.project-description{
    /* display:flex; */
    height: 90px;
    width: 335px;
    padding: 4px;
    background-color: #fefbe4dc;
    text-align: center;
    padding: 16px;
    /* #fefbe48a */
}


.opportunities-container{
    /* display: flex; */
    min-width: 710px;
    max-width: 100vw;
    min-height: 730px;
    /* height: 730px; */
    border-radius: 10%;
    border: 1px solid black; 
    /* margin: auto; */
    margin-right: 20px;
    padding-left: 55px;
    padding-top: 60px;
    background-color: #368F8B;
    margin-bottom: 15px;
}

.form-container{
    width: 710px;
    height: 730px;
    border-radius: 10%;
    border: 1px solid black; 
    background-color:#BC6C25 ;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

#contact-me, .reach-out,.opportunities, .connection{
    color: white;
}
#contact-me{
    font-size: 20px;
    margin-bottom: 15px;
}

.reach-out{
    font-size: 50px;
}

.opportunities{
    font-size: 55px;
    margin-top: -5px;
    margin-left: -5px;
    margin-bottom: 30px;
}

.connection{
    font-size: 20px;
}

a{
    padding: 0; 
    margin: 0; 
    max-height: 400px;
}

a:link{
    text-decoration: none;
    color:black;
}

.project-title:hover{
    color: beige;
}

:visited{
    color: black;
}

.user-form{
    margin-bottom: 10px;
}

.form-label{
    margin-bottom: 10px;
}